<mat-toolbar>
  <div class="row">
    <div class="col-md-1 link" routerLink="/home-page">WOMEN</div>
    <div class="col-md-1">MEN</div>
    <div class="col-md-1">KIDS</div>
    <div class="col-md-1"></div>
    <div class="col-md-4 title"><b>NEEDLEDUST</b></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <i class="fas fa-search icon-margin"></i>
      <i class="fas fa-heart icon-margin"></i>
      <i class="fas fa-shopping-cart icon-margin"></i>
      <i class='fas fa-user icon-margin'></i>
    </div>
  </div>
</mat-toolbar>

<mat-card>
  <div class="row">
    <div class="column">
      <mat-grid-list cols="5" rowHeight="1:1">
        <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/p2.jpg" class="bg2"></mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="4"><img src="../../assets/images/p1.jpg" class="bg3"></mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/p3.jpg" class="bg3"></mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/p4.jpg" class="bg3"></mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/p5.jpg" class="bg2"></mat-grid-tile>
      </mat-grid-list>
      <div class="row">
        <div class="col-md-12 right-align">
          <i class="fab fa-facebook-f social"></i>
          <i class="fab fa-instagram social"></i>
          <i class="fab fa-twitter social"></i>
          <i class="fab fa-whatsapp social"></i>
          <i class="	fab fa-facebook-messenger social"></i>
          <i class="	fas fa-envelope social"></i>
        </div>
      </div>
    </div>
    <div class="column">
      <h3 class="header">Crimson Spark - Punjabi Jutti</h3>
      <div class="row">
        <div class="col-md-12 left-align">
          <i class='fas fa-star star'></i>
          <i class='fas fa-star star'></i>
          <i class='fas fa-star star'></i>
          <i class='fas fa-star star'></i>
          <i class='fas fa-star star'></i> (83) | Write a review
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 left-align rate">
          <i class='fa fa-rupee' style="margin-left: 2%"></i> 3,200
        </div>
      </div>
      <hr class="header">
      <div class="row">
        <div class="col-md-12 left-align">
          <b>Select Size: </b><button class="button button1">36</button>
          <button class="button button1">37</button>
          <button class="button button1">38</button>
          <button class="button button1">39</button>
          <button class="button button1">40</button>
          <button class="button button1">41</button>
          <button class="button button2">SIZE GUIDE</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 left-align" style="font-size: 15px">
          Rich red silk base, with small clusturs off attractive light gold bootis spread out in the front and back on a
          an elegant cursive neckline! Its dainty, light yet impressive!
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 left-align">
          <div class="dropdown">
            <button class="dropbtn">Quantity</button>
            <div class="dropdown-content">
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
            </div>
          </div>
          <button class="button button3">ADD TO BAG</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 left-align fav">
          <i class='far fa-heart' style="color: #f44336"></i> Add to wishlist
        </div>
      </div>
      <hr class="header">
      <div class="row">
        <div class="col-md-12 left-align header">DELIVERY & RETURNS <i class="fas fa-angle-down pull-right"></i></div>
      </div>
      <hr class="header">
      <div class="row">
        <div class="col-md-12 left-align header">MATERIALS & CARE <i class="fas fa-angle-down pull-right"></i></div>
      </div>
      <hr class="header">
      <div class="row">
        <div class="col-md-12 left-align header">PACKAGING <i class="fas fa-angle-down pull-right"></i></div>
      </div>
      <hr class="header">
    </div>
  </div>

      <div class="row">
        <div class="col-md-12 category">
          BESTSELLERS
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12">
          <img src="../../assets/images/b1.jpg" class="bg4">
          <img src="../../assets/images/b2.jpg" class="bg4">
          <img src="../../assets/images/b3.jpg" class="bg4">
          <img src="../../assets/images/b4.jpg" class="bg4" style="width: 16%">
          <!-- <img src="../../assets/images/b5.jpg" class="bg4"> -->
          <!-- <img src="../../assets/images/6.jpg" class="bg4"> -->
          <!-- <img src="../../assets/images/7.jpg" class="bg4"> -->
        </div>
      </div> 

      <hr>
      
      <div class="row">
          <div class="column1">
            <h6><u>ABOUT US</u></h6>
          </div>
          <div class="column1">
            <h6><u>CAREERS</u></h6>
          </div>
          <div class="column1">
            <h6><u>POLICIES</u></h6>
          </div>
        </div>
      
</mat-card>