/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mat-card{
    margin-top: 1%;
    width: 93%;
    height: 400px;
    padding: 0px !important;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    box-shadow: none !important;
    border-radius: 0px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}

.div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* mat-grid-tile {
    background: lightblue;
  } */