<mat-toolbar>
  <div class="row">
    <!-- <div class="col-md-1"><a routerLink="/product-page">WOMEN</a></div> -->
    <div class="col-md-1 link" routerLink="/product-page">WOMEN</div>
    <div class="col-md-1">MEN</div>
    <div class="col-md-1">KIDS</div>
    <div class="col-md-1"></div>
    <div class="col-md-4 title"><b>NEEDLEDUST</b></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <i class="fas fa-search icon-margin"></i>
      <i class="fas fa-heart icon-margin"></i>
      <i class="fas fa-shopping-cart icon-margin"></i>
      <i class='fas fa-user icon-margin'></i>
    </div>
  </div>
</mat-toolbar>

<mat-card class="bg">
  <mat-card-content>
    <br><br>
    <div class="row">
      <div class="col-md-12 header">
        N E E D L E D U S T
      </div>
      <div class="row">
        <div class="col-md-12 subheader">
          S S ' 19
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="row">
  <div class="col-md-12 category">
    TOP CATEGORIES
  </div>
</div>
<div class="row">
  <div class="col-md-12 ">
    <u>TO SHOP FROM</u>
  </div>
</div>

<mat-card>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/jutti2.jpg" class="bg2"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3"><img src="../../assets/images/jutti3.jpg" class="bg3"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2"><img src="../../assets/images/jutti.jpg" class="bg2"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2"><img src="../../assets/images/jutti4.jpg" class="bg2"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2"><img src="../../assets/images/jutti1.jpg" class="bg2"></mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1"><img src="../../assets/images/jutti5.jpg" class="bg2"></mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card class="margin-class">
  <div class="row">
    <div class="col-md-12 category">
      NEW ARRIVALS
    </div>
  </div>
</mat-card>

<mat-card class="bg3">
  <div class="row">
    <div class="col-md-12">
      <img src="../../assets/images/1.jpg" class="bg4">
      <img src="../../assets/images/2.jpg" class="bg4">
      <img src="../../assets/images/3.jpg" class="bg4">
      <img src="../../assets/images/4.jpg" class="bg4">
      <img src="../../assets/images/5.jpg" class="bg4">
      <img src="../../assets/images/6.jpg" class="bg4">
      <img src="../../assets/images/7.jpg" class="bg4">
    </div>
  </div>
</mat-card>

<mat-card class="designer">
  <div class="row">
    <div class="column">
      <img src="../../assets/images/ab1.jpg">
      <h6>GOTA TUKDI</h6>
      <p><u>Shop Now</u></p>
    </div>
    <div class="column">
      <img src="../../assets/images/ab2.jpg">
      <h6>DECO MIRROR</h6>
      <p><u>Shop Now</u></p>
    </div>
    <div class="column">
      <h4>ABU JANI SANDEEP KHOSLA X NEEDLEDUST</h4>
      <p>Couture must be accessorised to perfection and no accessory is as crucial as footwear. Inspired by our passion
        for embroideries as couturiers, the collection has everything from classics with zardozi, resham and bead work
        to boho luxe in geometric and floral motifs.</p>
      <br>
      <button class="explore">E X P L O R E</button>
    </div>
  </div>
</mat-card>

<mat-card class="deals">
  <div class="row">
    <div class="col-md-12">
      <strong class="offer">Buy 1 & Get 1 at </strong>49%
      <img src="../../assets/images/banner1.jpg" class="deals-img">
      <button class="explore offer e2">E X P L O R E</button>
    </div>
    <!-- <div class="column">
      <h6>Buy 1 & Get 1</h6>
      99%
    </div>
    <div class="column"><img src="../../assets/images/j2.jpg"></div>
    <div class="column"><img src="../../assets/images/j2.jpg"></div> -->
  </div>
</mat-card>

<div class="row">
  <div class="col-md-12 category">
    <i class="far fa-star star icon-margin"></i>CELEB STYLES!<i class="far fa-star star icon-margin"></i>
  </div>
</div>

<mat-card class="celeb">
  <mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/c1.jpg" class="bg2"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3"><img src="../../assets/images/c9.jpg" class="bg3"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2"><img src="../../assets/images/c8.png" class="bg3"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/c2.png" class="bg2"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2"><img src="../../assets/images/c3.jpg" class="bg3"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/c4.jpg" class="bg3"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2"><img src="../../assets/images/c7.png" class="bg3"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/c10.png" class="bg2"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2"><img src="../../assets/images/c7.jpg" class="bg3"></mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1"><img src="../../assets/images/c11.png" class="bg2"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/c5.jpg" class="bg2"></mat-grid-tile>
  </mat-grid-list>

  <div class="row">
    <div class="col-md-12 category">
      ABOUT THE DESIGNER
    </div>
  </div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="1"><img src="../../assets/images/user.png" class="user"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices bibendum mollis. Sed
        aliquet, enim at
        vulputate porttitor, felis nunc vehicula ante, blandit lobortis mi massa non leo. Sed dui enim, interdum non
        rhoncus vitae, blandit eu eros. Nulla facilisi.
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices bibendum mollis. Sed aliquet, enim at
        vulputate porttitor, felis nunc vehicula ante, blandit lobortis mi massa non leo. Sed dui enim, interdum non
        rhoncus vitae, blandit eu eros. Nulla facilisi.</p>
    </mat-grid-tile>
  </mat-grid-list>

  <hr>

  <div class="row">
    <h4>AS SEEN ON</h4>
  </div>
  <div class="row">
    <div class="column"><img src="../../assets/images/logo1.png" class="user"></div>
    <div class="column"><img src="../../assets/images/logo1.png" class="user"></div>
    <div class="column"><img src="../../assets/images/logo1.png" class="user"></div>
  </div>

  <hr>

  <div class="row">
    <div class="column">
      <h6><u>ABOUT US</u></h6>
    </div>
    <div class="column">
      <h6><u>CAREERS</u></h6>
    </div>
    <div class="column">
      <h6><u>POLICIES</u></h6>
    </div>
  </div>
</mat-card>